[[extend 'layout.html']]

<style>
[v-cloak] {
    display: none;
}
</style>

<div class="section" id="vue-target" v-cloak>

    <div v-if="add_food_mode == true">
        <h1 class="title">Add Food</h1>

        <h1 class="title">Food Name</h1>
        <div class="field">
            <input v-model="food_name" class="input" type="text" :placeholder="isLoading ? 'Loading' : 'Search for a food item'" :disabled="isLoading" @input="searchFoods">
        </div>

        <div v-if="searchResults.length > 0">
            <h2>Search Results:</h2>
            <ul>
                <li v-for="result in searchResults" :key="result.id">
                    <a href="javascript:void(0)" @click="selectFood(result)">{{ result.description }}</a>
                </li>
            </ul>
        </div>

        <h1 class="title"><br>Quantity</h1>
        <div class="field">
            <textarea v-model="quantity" class="textarea" placeholder="Enter serving size as a whole number" rows="2"></textarea>
        </div>

        <a class="button is-success" @click="add_entry(food_name, quantity, calories, proteins, lipid_fat, 
                                             carbs, sugars, fiber, calcium, iron, sodium)">
            <span class="icon"><i class="fa fa-fw fa-check"></i></span>
            <span>Submit</span>
        </a>

        <a class="button is-danger" @click="main_page_button">
            <span class="icon"><i class="fa fa-fw fa-times"></i></span>
            <span>Cancel</span>
        </a>
    </div>

    <div v-else-if="view_nutrition_mode == true">
        <h1 class="title">View Nutrition</h1>

        <h1 class="title">Food Name</h1>
        <div class="field">
            <input v-model="food_name" class="input" type="text" placeholder="Search for a food item" @input="searchFoods">
            <button class="button" @click="searchFoods">Search</button>
        </div>

        <div v-if="searchResults.length > 0">
            <ul>
                <li v-for="result in searchResults" :key="result.id">
                    <a href="javascript:void(0)" @click="selectFood(result)">{{ result.description }}</a>
                </li>
            </ul>
        </div>

        <h1 class="title"><br>Nutritional Information</h1>
        <div class="field">
            <table class="table is-striped is-fullwidth has-text-centered">
                <tr>
                    <th></th>
                    <th>Quantity<br>(servings)</th>
                    <th>Calories<br>(kcal)</th>
                    <th>Protein<br>(g)</th>
                    <th>Fat<br>(g)</th>
                    <th>Carbohydrate<br>(g)</th>
                    <th>Sugar<br>(g)</th>
                    <th>Fiber<br>(g)</th>
                    <th>Calcium<br>(mg)</th>
                    <th>Iron<br>(mg)</th>
                    <th>Sodium<br>(mg)</th>
                    <th></th>
                </tr>
    
                <template>
                    <tr>
                        <td></td>
                        <td>{{ 1 }}</td>
                        <td>{{ calories }}</td>
                        <td>{{ proteins }}</td>
                        <td>{{ lipid_fat }}</td>
                        <td>{{ carbs }}</td>
                        <td>{{ sugars }}</td>
                        <td>{{ fiber }}</td>
                        <td>{{ calcium }}</td>
                        <td>{{ iron }}</td>
                        <td>{{ sodium }}</td>
                        <td></td>
                    </tr>
                </template>
            </table>
        </div>

        <a class="button is-warning" @click="main_page_button">
            <span class="icon"><i class="fa fa-fw fa-arrow-left"></i></span>
            <span>Back</span>
        </a>
    </div>
    
    <div v-else-if="search_plates_mode == true">
        <h1 class="title">Lookup Public Plates</h1>
        
        <div class="field">
            <input class="input" v-model="plates_search_bar" v-on:keyup="filter_plate_search" placeholder="Search users">
        </div>
        
        <ul v-for="item in plate_search_results">
            <a href="javascript:void(0)" @click="display_public_table(item)">{{ item }}</a>
        </ul>          
        
        <h1 class="title"><br>Plate</h1>
    
        <table class="table is-striped is-fullwidth has-text-centered">
            <tr>
                <th>Food<br>Name</th>
                <th>Quantity<br>(servings)</th>
                <th>Calories<br>(kcal)</th>
                <th>Protein<br>(g)</th>
                <th>Fat<br>(g)</th>
                <th>Carbohydrate<br>(g)</th>
                <th>Sugar<br>(g)</th>
                <th>Fiber<br>(g)</th>
                <th>Calcium<br>(mg)</th>
                <th>Iron<br>(mg)</th>
                <th>Sodium<br>(mg)</th>
            </tr>
    
            <template v-for="(item, index) in public_plate">
                <tr>
                    <td>{{ item.food_name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.calories }}</td>
                    <td>{{ item.proteins }}</td>
                    <td>{{ item.lipid_fat }}</td>
                    <td>{{ item.carbs }}</td>
                    <td>{{ item.sugars }}</td>
                    <td>{{ item.fiber }}</td>
                    <td>{{ item.calcium }}</td>
                    <td>{{ item.iron }}</td>
                    <td>{{ item.sodium }}</td>
                </tr>
            </template>
        </table>
        
        <a class="button is-warning" @click="main_page_button">
            <span class="icon"><i class="fa fa-fw fa-arrow-left"></i></span>
            <span>Back</span>
        </a>
    </div>
    

    <div v-else-if="main_page_mode == true">
        
        <h1 class="title">Plate</h1>

        <table class="table is-striped is-fullwidth has-text-centered">
            <tr>
                <th>Food<br>Name</th>
                <th>Quantity<br>(servings)</th>
                <th>Calories<br>(kcal)</th>
                <th>Protein<br>(g)</th>
                <th>Fat<br>(g)</th>
                <th>Carbohydrate<br>(g)</th>
                <th>Sugar<br>(g)</th>
                <th>Fiber<br>(g)</th>
                <th>Calcium<br>(mg)</th>
                <th>Iron<br>(mg)</th>
                <th>Sodium<br>(mg)</th>
                <th></th>
            </tr>

            <template v-for="(item, index) in plate">
                <tr>
                    <td>{{ item.food_name }}</td>
                    <td>
                        <input type="text" size="5" v-model="item.quantity" @change="updateQuantity(index, item, $event.target.value)">
                    </td>
                    <td>{{ item.calories }}</td>
                    <td>{{ item.proteins }}</td>
                    <td>{{ item.lipid_fat }}</td>
                    <td>{{ item.carbs }}</td>
                    <td>{{ item.sugars }}</td>
                    <td>{{ item.fiber }}</td>
                    <td>{{ item.calcium }}</td>
                    <td>{{ item.iron }}</td>
                    <td>{{ item.sodium }}</td>
                    <td>
                        <a class="button is-danger" @click="remove_entry(index)">
                            <span class="icon"><i class="fa fa-fw fa-trash"></i></span>
                        </a>
                    </td>
                </tr>
            </template>

        </table>

        <div class="buttons">
            <a class="button is-primary" @click="add_entry_button">
                <span>Add Food</span>
            </a>

            <a class="button is-info" @click="view_info_button">
                <span>View Nutrition</span>
            </a>
            
            <a class="button is-warning" @click="search_plates_button">
                <span>Search Public Plates</span>
            </a>

            <div v-if="privacy_status == true">
                <a class="button is-success" @click="change_privacy">
                    <span>Make Plate Public</span>
                </a>
            </div>
            <div v-else>
                <a class="button is-danger" @click="change_privacy">
                    <span>Make Plate Private</span>
                </a>
            </div>
            
        </div>
        
        <span>
            <br><br>
        </span>
        
        <h1 class="title"><br>Total</h1>

        <table class="table is-striped is-fullwidth has-text-centered">
            <tr>
                <th></th>
                <th>Quantity<br>(servings)</th>
                <th>Calories<br>(kcal)</th>
                <th>Protein<br>(g)</th>
                <th>Fat<br>(g)</th>
                <th>Carbohydrate<br>(g)</th>
                <th>Sugar<br>(g)</th>
                <th>Fiber<br>(g)</th>
                <th>Calcium<br>(mg)</th>
                <th>Iron<br>(mg)</th>
                <th>Sodium<br>(mg)</th>
                <th></th>
            </tr>

            <template>
                <tr>
                    <td></td>
                    <td>{{ total["quantity"] }}</td>
                    <td>{{ total["calories"] }}</td>
                    <td>{{ total["proteins"] }}</td>
                    <td>{{ total["lipid_fat"] }}</td>
                    <td>{{ total["carbs"] }}</td>
                    <td>{{ total["sugars"] }}</td>
                    <td>{{ total["fiber"] }}</td>
                    <td>{{ total["calcium"] }}</td>
                    <td>{{ total["iron"] }}</td>
                    <td>{{ total["sodium"] }}</td>
                    <td></td>
                </tr>
            </template>
        </table>
    </div>
</div>

[[block page_scripts]]
<script>
    let remove_entry_url = "[[=XML(remove_entry_url)]]";
    let get_plate_url = "[[=XML(get_plate_url)]]";
    let add_food_url = "[[=XML(add_food_url)]]";
    let view_info_url = "[[=XML(view_info_url)]]";
    let update_total_url = "[[=XML(update_total_url)]]";
    let make_plate_public_url = "[[=XML(make_plate_public_url)]]";
    let make_plate_private_url = "[[=XML(make_plate_private_url)]]";
    let check_privacy_url = "[[=XML(check_privacy_url)]]";
    let get_public_users_url = "[[=XML(get_public_users_url)]]";
    let get_public_plate_url = "[[=XML(get_public_plate_url)]]";
    let get_user_item_id_url = "[[=XML(get_user_item_id_url)]]";
    let update_edit_url = "[[=XML(update_edit_url)]]";
</script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
<script src="js/index.js"></script>

[[end]]
