[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>

<div class="section" id="vue-target" v-cloak>
    
    <div v-if="add_food_mode == true">
        <h1 class="title">Add Food</h1>
        
        <h1 class="title">Food Name</h1>
        <div class="field">
            <input v-model="food_name" class="input" type="text" placeholder="Search for a food item" @input="searchFoods">
            <button class="button" @click="searchFoods">Search</button>
        </div>
        
        <div v-if="searchResults.length > 0">
            <h2>Search Results:</h2>
            <ul>
                <li v-for="result in searchResults" :key="result.id">
                  <a href="javascript:void(0)" @click="selectFood(result)">{{ result.description }}</a>
                </li>
            </ul>                          
        </div>

        <h1 class="title">Quantity</h1>
        <div class="field">
            <textarea v-model="quantity" class="textarea" placeholder="Enter serving size as whole number" rows="2"></textarea>
        </div>
        
        <a class="button is-success" @click="add_entry(food_name, quantity, calories)">
            <span class="icon"><i class="fa fa-fw fa-check"></i></span>
            <span>Submit</span>
        </a>
        
        <a class="button is-danger" @click="main_page_button">
            <span class="icon"><i class="fa fa-fw fa-times"></i></span>
            <span>Cancel</span>
        </a>
    </div>
    
    <div v-else-if="view_nutrition_mode == true">
        <h1 class="title">View Nutrition</h1>
        
        <h1 class="title">Food Name</h1>
        <div class="field">
            <span>search bar -- similar to asgn5 -- implement after all_foods db is filled -- save selection as food_name to pass into get_nutritional_info()</span>
        </div>
        
        <h1 class="title">Nutritional Info</h1>
        <div class="field">
            <span>display table -- call get_nutritional_info() with food_name, display info in table</span>
        </div>
        
        <a class="button is-warning" @click="main_page_button">
            <span class="icon"><i class="fa fa-fw fa-arrow-left"></i></span>
            <span>Back</span>
        </a>
    </div>
    
    <div v-if="edit_food_mode == true">
        <h1 class="title">Edit Food</h1>
        
        <h1 class="title">Food Name</h1>
        <div class="field">
            <input v-model="food_name" class="input" type="text" placeholder="Search for a food item">
        </div>
        
        <h1 class="title">Quantity</h1>
        <div class="field">
            <textarea v-model="quantity" class="textarea" placeholder="Enter serving size as whole number" rows="2"></textarea>
        </div>
        
        <a class="button is-success" @click="edit_entry(food_name, quantity, edit_id)">
            <span class="icon"><i class="fa fa-fw fa-check"></i></span>
            <span>Submit</span>
        </a>
        
        <a class="button is-danger" @click="main_page_button">
            <span class="icon"><i class="fa fa-fw fa-times"></i></span>
            <span>Cancel</span>
        </a>
    </div>
    
    <div v-else-if="main_page_mode == true">
        <h1 class="title">Plate</h1> 

        <table class="table is-striped is-fullwidth">
            <tr>
                <th>Food Name</th>
                <th>Quantity</th>
                <th>Calories</th>
                <th></th>
            </tr>

            <!-- placeholder -- use app.data.plate-->
            <template v-for="item in plate">
                <tr>
                    <td>{{ item.food_name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.calories }}</td>
                    <td>
                        <a class="button" @click="edit_entry_button(item.id)">
                            <span class="icon"><i class="fa fa-fw fa-pencil"></i></span>
                            <span>Edit</span>
                        </a>
                        <a class="button is-danger" @click="remove_entry(item.id)">
                            <span class="icon"><i class="fa fa-fw fa-trash"></i></span>
                        </a>
                    </td>
                </tr>
            </template>
        </table>

        <a class="button is-primary" @click="add_entry_button">
            <span>Add Food</span>
        </a>
        <a class="button is-info" @click="view_info_button">
            <span>View Nutrition</span>
        </a>
        <span>
            <br><br><br>
        </span>
        <h1 class="title"><br>Total</h1> 

        <table class="table is-striped is-fullwidth">
            <tr>
                <th></th>
                <th>Quantity</th>
                <th>Calories</th>
                <th></th>
                <th></th>
            </tr>

            <template>
                <tr>
                    <td></td>
                    <td>{{ total["quantity"] }}</td>
                    <td>{{ total["calories"] }}</td>
                    <td></td>
                    <td></td>
                </tr>
            </template>
        </table>
    </div>
</div>

[[block page_scripts]]
<script>
    let edit_entry_url = "[[=XML(edit_entry_url)]]";
    let remove_entry_url = "[[=XML(remove_entry_url)]]";
    let get_plate_url = "[[=XML(get_plate_url)]]";
    let add_food_url = "[[=XML(add_food_url)]]";
    let view_info_url = "[[=XML(view_info_url)]]";
    let update_total_url = "[[=XML(update_total_url)]]";
</script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
<script src="js/index.js"></script>

[[end]]
